.auth {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  height: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}
.auth p {
  color: #000;
}
.google {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.google img {
  width: 90px;
  height: 90px;
}
.